# Environment variables
.env

# Dependencies
node_modules/
vendor/

# Build outputs
.next/
dist/
main

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# IDE
.vscode/
.idea/

# Uploaded images
uploads/
